.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 10vh;
}

.main-photo {
   height: 480px;
   border-radius: 60%;
   outline: var(--secondary) 2px solid;
}