.timeline-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.section-title {
  margin: 1.5rem auto;
  font-size: 2.5rem;
}

.timeline-grid {
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  grid-template-rows: auto;
}
.timeline-item {
  display: flex;
  justify-content: center;
  position: relative;
}
.mid-dot {
  position: relative;
}

.timeline-card {
  outline: 2px solid var(--std-outline);
  display: flex;
  border-radius: var(--box-radius);
  flex: 0.55;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}

.timeline-duration {
  font-weight: normal;
  font-size: medium;
  color: #505050;
}

.line-divider {
  background-color: var(--secondary);
}
.line-divider:nth-of-type(1) {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}
.line-divider:last-of-type {
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.mid-dot::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--secondary);
  position: absolute;
  right: -9px; 
  top: 50%; 
  transform: translateY(-50%); 
}
