@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Montserrat", system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: clamp(14px, 1.5vw, 18px);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colours */
  --background: #fbfbfb;
  --white-highlight : #ddd;
  --text-main: #010101;
  --secondary:rgba(170, 68, 170, 0.898);
  --std-outline: #404040;
  --card-background: #f9f9f9;

  /* Size */
  --box-radius: 10px;

  /* Others */
  --box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

body {
  margin: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-main);
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mid-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* outline: green solid 2px; */
  padding-bottom: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.yap {
  font-size: clamp(0.2rem,2.5vw,0.85rem)
  
}
